@import "bourbon/bourbon";
@import "neat/neat";

body {
  @include outer-container();
}

div {
  border-radius: 5px;
}

.title {
  background-color: lightgray;
  padding: 10px;
  margin-top: 0px;
}

.hardcoded {
  @include span-columns(4);
  background-color: #f8f8f6;
}

.fromarray {
  @include span-columns(4);
  background-color: #f8f8f6;
}

.repeater {
  @include span-columns(4);
  background-color: #f8f8f6;
}

.buttonfunc {
  @include span-columns(4);
  background-color: #f8f8f6;
}

.inputfunc {
  @include span-columns(4);
  background-color: #f8f8f6;
}

.formfunction {
  @include span-columns(4);
  background-color: #f8f8f6;
}
